{%  extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="content-section">
       <div class="media">
           <img class="rounded-circle account-img" src="{{ puser.profile.image.url }}">
           <div class="media-body">
               {% if user == puser %}
                   <a href="{% url 'update-profile' puser.id %}" style="float:right;" class="btn btn-sm mb-3"> Update Profile</a>
               {% endif %}
               <h2 class="account-heading">{{ puser.username|upper }}</h2>
               <p class="text-secondary"> {{ puser.email }}</p>
           </div>
       </div>
    </div>

    <div class ="content-section">
       {% for post in page_obj %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted | date:"F d Y" }}</small>
                    </div>

                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content|truncatewords:"20"}}  <a href="{% url 'post-detail' post.id %}"> read more </a></p>
                </div>
            </article>
       {% endfor %}
    {% include 'blog/snippets/paginate.html' %}

   </div>

{% endblock content %}